# git folder
.git/
cache/*
figure/*

# Scrapy
.scrapy

# Checkpoint
*.ipynb_checkpoints
*.log

# Files
*.html
*.txt

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
opeproject
